body{
  background-color: lightgray;
}

textarea{
 resize: none;
 border-color: transparent;
 box-shadow: 0 0 0.3rem gray;
 &:focus{
   outline: none;
 }
}

.vh-50{
  height: 50vh;
}

.sentence{
  border-color: transparent;
  box-shadow: 0 0 0.3rem gray;
  background-color: white;
}

.words, .sentence{
  cursor: pointer;
}

.navbar{
  background-color: black!important;
  & *{
    color: white!important;
  }
}


