<div class="row">
  <div class="col-9">
    <div class="container mt-3">
      <img [src]="data['image']" class="text-image" alt="Responsive image" />
      <div class="mx-4 mb-5">
        <h1
          class="text-center my-4"
          (mousedown)="showTranslatedTitle(t1)"
          id="title"
        >
          {{ data["base-title"] }}
        </h1>
        <div
          placement="bottom"
          [ngbTooltip]="tooltipText"
          positionTarget="{{ tooltipTarget }}"
          #t1="ngbTooltip"
          triggers="manual"
          class="text-center"
        >
          <span
            *ngFor="let sentence of baseSentences; let i = index"
            id="sentence-{{ i }}"
          >
            <span
              *ngFor="let word of sentence.split(' '); let j = index"
              (mouseenter)="showTranslation(t1, i, j)"
              (mousedown)="showTranslatedSentence(t1, i)"
              (dblclick)="onWordDoubleClick(i, j)"
              id="word-{{ i }}-{{ j }}"
            >
              {{ word }}
            </span>
            <!-- Add a dot after each sentence -->
            <span>.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 bg-light p-4 rounded">
    <h4 class="mb-4">Word List</h4>

    <div class="mb-3">
      <label for="wordListName" class="form-label">Word List Name:</label>
      <input
        type="text"
        class="form-control"
        id="wordListName"
        [(ngModel)]="wordListName"
      />
    </div>

    <button
      class="btn btn-primary"
      (click)="saveWords()"
      [disabled]="selectedWords.length === 0"
    >
      Save Words
    </button>

    <ul class="mt-3 list-unstyled">
      <li
        *ngFor="let selectedWord of selectedWords; let i = index"
        class="d-flex justify-content-between my-1"
      >
        <span>{{ selectedWord.base }} - {{ selectedWord.translation }}</span>
        <button class="btn btn-danger btn-sm" (click)="removeWord(i)">x</button>
      </li>
    </ul>
  </div>
</div>
