@import "../../../styles.scss";
.text-image{
  width: 100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: hidden;
}

.container{
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.41);
  width: 30%;
  background-color: white;
  padding: 0;
  border-radius: 2rem;
  overflow: hidden;
}
